<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>871897954867-0mgq62ap0buv93f4l5nbs8u3fl4lu38a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.871897954867-0mgq62ap0buv93f4l5nbs8u3fl4lu38a</string>
	<key>API_KEY</key>
	<string>AIzaSyDD1U0LXIhtyHi91A1Hm23lxnL998r449E</string>
	<key>GCM_SENDER_ID</key>
	<string>871897954867</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.spine.kpcc</string>
	<key>PROJECT_ID</key>
	<string>kpccfundcollection-8ba72</string>
	<key>STORAGE_BUCKET</key>
	<string>kpccfundcollection-8ba72.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:871897954867:ios:f03f180051239e87b70146</string>
	<key>DATABASE_URL</key>
	<string>https://kpccfundcollection-8ba72-default-rtdb.firebaseio.com</string>
</dict>
</plist>